.authorization {
  display: flex;
  padding: 7px 0 11px;

  text-decoration: none;

  &:focus,
  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}

.authorization__icon {
  margin-right: 8px;

  fill: #232323;
}

.authorization__text {
  padding-top: 3px;
  margin: 0;

  color: #232323;

  @include main-font(16px, 120%, 500, normal);
}

.authorization--logged-in > .authorization__icon {
  fill: $elements-color;
}
.authorization--logged-in > .authorization__text {
  color: $elements-color;
}

@media (min-width: $tablet-width) and (max-width: $tablet-width-max) {
  .authorization__text {
    display: none;
  }
}
