.characteristics__header {
  padding-top: 10px;
  padding-bottom: 10px;
}

.characteristics__article-link {
  display: block;
}

.characteristics__note {
  margin-top: 0;
  margin-bottom: 24px;

  @include main-font(14px, 24px, 400, normal);
}

.characteristics__article-link {
  color: $elements-color;

  @include main-font(14px, 24px, 400, normal);
}

.characteristics__content {
  padding-top: 3px;
  padding-bottom: 25px;
}

.characteristics__list {
  min-width: 100%;
  margin-left: -1px;
  margin-right: -2px;

  border-collapse: collapse;
}

.characteristics__item {
  position: relative;

  @include main-font(13px, 18px, 400, normal);

}

.characteristics__property {
  position: relative;

  padding-right: 10px;

  text-align: left;
  vertical-align: top;
  font-weight: 600;
}

.characteristics__value {
  position: relative;

  padding-left: 10px;

  text-align: right;
  vertical-align: top;
}

.characteristics__text-wrapper {
  position: relative;

  background-color: #ffffff;
  box-shadow: 10px 0 0 0 #ffffff;
}

.characteristics__property,
.characteristics__value {
  padding-bottom: 5px;

  &::before {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    z-index: -1;
    content: "";
    height: 1px;

    background-color: #e8e8e8;
  }
}

.characteristics__property .characteristics__text-wrapper {
  box-shadow: 10px 0 0 0 #ffffff;
}

.characteristics__value .characteristics__text-wrapper {
  box-shadow: -10px 0 0 0 #ffffff;
}

@media (min-width: $pretablet-width) {
  .characteristics {
    width: 564px;
  }
}

@media (min-width: $desktop-width) {
  .characteristics {
    width: 554px;
  }

  .characteristics__content {
    display: block;
    padding-top: 0px;
    margin-right: -2px;
  }

  .characteristics__item {
    font-size: 15px;
    line-height: 20px;
  }

  .characteristics__value,
  .characteristics__property {
    padding-bottom: 3px;
  }

  .characteristics__value,
  .characteristics__property {
    &::before {
      top: 11px;
    }
  }

  .characteristics__header {
    padding-top: 0;
  }

  .characteristics__note {
    line-height: 18px;

    padding-right: 50px;
    margin-bottom: 11px;
  }

  .characteristics__article-link {
    display: inline;
  }
}
