.chat-button {
  display: block;
  width: 53px;
  height: 75px;
  padding-top: 10px;
  padding-left: 1px;

  background-color: $elements-color;
  border: none;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;

  &:hover,
  &:focus {
    background-color: desaturate($elements-color, 20%);
  }

  &:active {
    background-color: desaturate($elements-color, 30%);
  }
}

.chat-button__icon {
  fill: #ffffff;
}

.chat-button__text {
  color: #ffffff;

  @include main-font(14px, 25px, 600, normal);
}
