.language-select {
  display: flex;
  justify-content: center;
  padding: 8px $side-padding-mobile;
  margin: 0;

  list-style: none;
}

.language-select__item {
  position: relative;
}

.language-select__picker {
  display: block;
  width: 34px;
  height: 18px;

  background-color: transparent;
  border: none;
}

.language-select__item:not(:last-child) {
  margin-right: 1px;
}

.language-select__icon {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  display: block;
  width: 100%;
  height: auto;
}


.language-select__picker:focus + .language-select__icon,
.language-select__picker:hover + .language-select__icon {
  opacity: 0.6;
}

.language-select__picker:active + .language-select__icon {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .language-select {
    padding: 0;
  }
}
