.main-header {
  margin-bottom: 14px;
}

.main-header__top,
.main-header__bottom {
  max-width: $max-content-width;
}

.main-header__inner-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px $side-padding-mobile;

  border-bottom: 1px solid #dddddd;
}

.main-header__menu-button {
  position: relative;
  display: block;
  width: 20px;
  height: 14px;

  background-color: transparent;
  border: none;

  &::before {
    position: absolute;
    left: 0;
    content: "";
    display: block;
    height: 2px;

    background-color: $elements-color;
  }
}

.main-header--menu-closed .main-header__menu-button {
  &::before {
    top: 0;
    width: 20px;

    box-shadow: 0 6px 0 0 $elements-color,
    0 12px 0 0 $elements-color;
  }
}

.main-header--menu-opened .main-header__menu-button {
  &::before,
  &::after {
    top: 6px;
    width: 23px;
  }

  &::before {
    transform: rotate(36deg);
  }

  &::after {
    position: absolute;
    left: 0;
    content: "";
    display: block;
    height: 2px;

    background-color: $elements-color;

    transform: rotate(-36deg);
  }
}

.main-header--no-js .main-header__menu-button {
  display: none;
}

.main-header__logo-link {
  display: block;
  margin-left: 15px;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}

.main-header__phone-number,
.main-header__feedback {
  display: none;
}

.main-header__search {
  padding: 9px $side-padding-mobile;
}

.main-header__bottom {
  border-top: 1px solid #dddddd;
}

@media (max-width: $tablet-width - 1) {
  .main-header--menu-closed .main-header__bottom {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .main-header {
    margin-bottom: 18px;
  }

  .main-header__top {
    display: flex;
    padding: 8px $side-padding-mobile;
  }

  .main-header__inner-wrapper {
    flex-grow: 1;
    padding: 0;
    margin-right: 20px;

    border: none;
  }

  .main-header__logo {
    width: 202px;
    height: 28px;
  }

  .main-header__search {
    padding: 0;
  }

  .main-header__menu-button {
    display: none;
  }

  .main-header__logo-link {
    margin-left: 0;
    margin-right: auto;
  }

  .main-header__search {
    width: 35%;
  }

  .main-header__bottom {
    display: flex;
    align-items: center;
    padding: 0 7%;

    border: none;
  }

  .main-header__navigation {
    max-width: 80%;

    margin-right: auto;
  }

  .main-header__user-section {
    max-width: 27%;
    margin-right: 10px;
  }
}

.main-header__language-select {
  max-width: 10%;
  margin-right: -5px;
}

@media (min-width: $desktop-width) {
  .main-header__top,
  .main-header__bottom {
    max-width: $max-content-width;
    margin: 0 auto;
  }

  .main-header__top {
    justify-content: space-between;
    align-items: center;
    padding: 12px 0 3px;
  }

  .main-header__inner-wrapper {
    flex-grow: 0;
    margin-right: 9px;
    padding-left: 1px;
    padding-bottom: 1px;
  }

  .main-header__search {
    width: 480px;
    margin-right: 7px;
  }

  .main-header__cart {
    display: none;
  }

  .main-header__phone-number,
  .main-header__feedback {
    display: block;
  }

  .main-header__feedback {
    padding: 14px 19px 16px;

    color: #ffffff;
    letter-spacing: 0.025px;
    text-decoration: none;
  }

  .main-header__bottom {
    justify-content: space-between;
    padding: 6px 0 3px 2px;
  }

  .main-header__navigation {
    max-width: 60%;
  }

  .main-header__user-section {
    margin-right: 48px;
  }
}
