.pay {
  margin-right: auto;
  margin-left: auto;
}

.pay__title {
  margin-top: 0;
  margin-bottom: 11px;

  text-align: center;

  @include main-font(16px, 30px, 700, normal);
}

.pay__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: -8px;
  padding-left: 0;

  list-style: none;
}

.pay__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 26px;
  margin-bottom: 5px;
  margin-right: 8px;

  border: 1px solid #c6c6c6;
}

.pay__image {
  display: block;
}

@media (min-width: $desktop-width) {
  .pay {
    display: flex;
    align-items: center;
  }

  .pay__title {
    font-size: 18px;
    line-height: 30px;

    margin-bottom: 5px;
    margin-right: 34px;
  }

  .pay__item {
    width: 59px;
    height: 33px;
    margin-right: 10px;
  }

  .pay__image--visa {
    width: 44px;
    height: 14px;
    margin-right: 5px;
    margin-bottom: 1px;
  }

  .pay__image--master-card {
    width: 36px;
    height: 21px;
    margin-right: 2px;
  }

  .pay__image--apple {
    width: 35px;
    height: 14px;
    margin-right: 2px;
    margin-bottom: 2px;
  }

  .pay__image--samsung {
    width: 38px;
    height: 17px;
    margin-top: 2px;
    margin-right: 2px;
  }
}

