.phone-number {
  position: relative;
  display: block;
  padding-left: 45px;
  padding-right: 5px;

  color: #000000;
  letter-spacing: 0.025em;
  text-decoration: none;

  @include main-font(18px, 30px, 600, normal);

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}

.phone-number__icon {
  position: absolute;
  left: 0px;
  top: 4px;

  fill: $elements-color;
}

@media (min-width: $pretablet-width) {
  .phone-number {
    padding-left: 34px;
    padding-right: 0;
  }

  .phone-number--footer {
    font-size: 19px;
    padding-left: 39px;
  }

  .phone-number--footer .phone-number__icon {
    top: 5px;
    left: 3px;
  }
}
