.product-view {
  position: relative;
  width: 100%;
  padding: 0 $side-padding-mobile;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}

.product-view__media-list {
  display: none;
}

.product-view__button-previous,
.product-view__button-next {
  position: absolute;
  top: 0;
  bottom: 0;
  display: block;
  width: 7%;

  background-color: transparent;
  border: none;
}

.product-view__button-previous {
  right: 93%;
}

.product-view__button-next {
  left: 93%;
}

.product-view__icon-previous,
.product-view__icon-next {
  position: absolute;
  top: 50%;
  left: 50%;
  fill: #bebebe;
}

.product-view__icon-previous {
  transform: translateY(-50%) translateX(-50%) rotate(90deg);
}

.product-view__icon-next {
  transform: translateY(-50%) translateX(-50%) rotate(-90deg);
}

.product-view__button-previous:focus > .product-view__icon-previous,
.product-view__button-previous:hover > .product-view__icon-previous,
.product-view__button-next:focus > .product-view__icon-next,
.product-view__button-next:hover > .product-view__icon-next {
  fill: darken(#bebebe, 30%);
}

.product-view__button-previous:active > .product-view__icon-previous,
.product-view__button-next:active > .product-view__icon-next {
  fill: darken(#bebebe, 10%);
}

.product-view__selected-media {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 250px;
  max-width: 430px;
  overflow: hidden;

  border: 1px solid #d1d1d1;
}

.product-view__image {
  display: block;
  max-width: 100%;

  object-fit: contain;
}

@media (min-width: 500px) {
  .product-view__selected-media {
    margin: 0 auto;
  }

  .product-view__button-previous,
  .product-view__button-next {
    width: 35px;
  }

  .product-view__button-previous {
    right: 50%;

    transform: translateX(-215px);
  }

  .product-view__button-next {
    left: 50%;

    transform: translateX(215px);
  }
}

@media (min-width: $pretablet-width) {
  .product-view {
    display: flex;
    padding: 0;
  }

  .product-view__slider-navigation {
    margin-right: 14px;
  }

  .product-view__button-next,
  .product-view__button-previous {
    position: relative;
    left: auto;
    right: auto;
    width: 100%;
    height: 29px;

    transform: none;
  }

  .product-view__icon-previous,
  .product-view__icon-next {
    width: 14px;
    height: 14px;
  }

  .product-view__icon-previous {
    top: -3px;

    transform: translateX(-50%) rotate(180deg);
  }

  .product-view__icon-next {
    top: auto;
    bottom: -3px;

    transform: translateX(-50%);
  }

  .product-view__selected-media {
    width: 428px;
    height: 450px;
    margin: 0;
  }

  .product-view__media-list {
    display: block;
    margin-bottom: 3px;
  }

  .product-view__image {
    margin-left: 6px;
    height: 406px;
  }
}

@media (min-width: $pretablet-width) and (max-width: $tablet-width-max) {
  .product-view {
    justify-content: center;
  }
}
