.side-page-controls {
  display: none;
}

@media (min-width: $desktop-width) {
  .side-page-controls {
    display: block;
    position: fixed;
    right: 0;
    bottom: 49vh;
  }

  .side-page-controls__page-up {
    margin-bottom: 17px;
  }
}
